.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.datos {
  display: flex;
  flex-direction: column;
  justify-content: center; /* para centrar el texto*/
  width: 100%;/* que tome el 100%*/
  align-items: center; /* alinearlo al centro*/
}
.datos input {
  width: 300px;/* que tome el 100%*/
  height: 30px;
  align-items: center; /* alinearlo al centro*/
  font-size: 20px;
  padding-left: 10px;
  border-radius: 5px;
  margin: 5px;
}
.datos button {
  width: 328px;/* que tome el 100%*/
  height: 50px;
  margin-top: 5px;
}
